PORT=4000
DATABASE_FILE=mercato-nero.sqlite
DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_GUILD_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:4000/api/auth/callback
DISCORD_BOT_TOKEN=
DISCORD_ROLE_ID=
DISCORD_ADMIN_ROLE_ID=
SESSION_SECRET=
FRONTEND_URL=http://localhost:5173
BOT_API_TOKEN=
